/* Wallpaper and font */
body {
    background-image: url("../img/wp.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.topnav {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(61, 97, 255);
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: rgb(120, 57, 223);
}

@media screen and (max-width: 576px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* Sponsor */

#sponsor {
    z-index: 1;
    padding-left: 0;
    height: 100vh;
    position: fixed;
}

#imgsponsor {
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    #sponsor {
        width: 0;
        height: 0;
    }
}

/* Resumen */

#resumen {
    z-index: 1;
    padding-top: 100px;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 1px rgb(61, 97, 255);
}

p {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

#neon {
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 2px 1px rgb(61, 97, 255);
}

#imglogo {
    width: 100%;
}

/* Extra */

#extra { z-index: 1;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100vh;
}

@media (max-width: 768px) {
    #extra {
        width: 0;
        height: 0;
    }
}

#help {
    width: 100%;
    top: 100%;
    position: sticky;
}

/* Footer */

footer {
    padding: 0;
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: -2px -2px 1px #000;
    background-color: rgb(61, 97, 255);
}

/* Contacto */

#contact {
    font-size: x-large;
    color:white;
    text-shadow: 0px 2px 1px rgb(61, 97, 255);
    text-align: center;
}

/* Menu */

.menu {
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    color: white;
    text-shadow: 0px 2px 1px rgb(61, 97, 255);
}

#menucont {
    padding-top: 60px;
}

#menubot {
    padding-bottom: 25px;
}

#bannermenu {
    width: 100%;
    padding-top: 44px;
}

@media screen and (max-width: 576px) {
    #bannermenu {
        padding-top: 132px;
    }
}