<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <title>Contacto Blizzard World Restaurant</title>
</head>

<body>
    <header class="topnav">
        <a href="../index.html">Inicio</a>
        <a href="carta.html">Carta</a>
        <a href="contact.html">Contacto</a>
    </header>
    <div class="row">
        <div class="col" id="contact">
            <p>Horarios:</p>
            <p>Lunes y martes: 19:30-23:00</p>
            <p>Jueves: 13:30-15:30 y 19:30-23:00</p>
            <p>Viernes: 13:30-15:30 y 19:30-23:30</p>
            <p>Sábado: 13:00-16:00 y 19:30-23:30</p>
            <p>Domingo: 13:00-16:00 y 19:30-23:30</p>
            <br>
            <p>Miercoles cerrado por descanso.</p>
            <br>
            <p><a href="tel:+34666666666">Teléfono: + 34 666 66 66 66</a></p>
            <p><a href="mailto:eatzzard@eatzzard.com">Email: eatzzard@eatzzard.com</a></p>
            <p><a href="facebook.com/eatzzard">Facebook: Facebook Eatzzard</a></p>
            <p><a href="https://twitter.com/Eatzzard">Twitter: @eatzzard</a></p>
        </div>
    </div>


    <footer>
        <p>Local: C/Ventormenta, 12. Localidad: Azeroth. Derechos: JaviCMDev.</p>
    </footer>
</body>

</html>